<html>
    <head>
        <title>Page Not Found</title>
        <style>
        h1
            {
                justify-content:center;
            }
        </style>
    </head>
    <body>
        <h1>SOMETHING WENT WRONG</h1>
    </body>
</html>