<!DOCTYPE html>
<html>
    
    <style>
        
   /*      .main {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        margin-left: 60px;
        background-color: rgb(236, 236, 236)
    }*/
    .alert {
        width: 90%;
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
    }
    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    .passwordinput {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    .FormWindow {
        border-width: 5px;
        border-style: solid;
        border-color: rgb(216, 214, 214);
        background-color: white;
        margin-top: 100px;
        margin-right: 10px;
        padding: 10px 10px 10px 20px;
    }
    .logoutforminput {
        width: 95%;
        margin: 5px;
        height: 20px;
    }
        
         #head
{
    font-weight: bold;
    background-color: darkblue;
    color: white;
    box-shadow: 0 0 10px;
    width:100%;
     justify-content: center;
    align-items: center;
}
        
          #btn
           {
               background-color: darkblue;
               color:white;
               border-color: darkblue;
           }
         
        





</style>

    <head>
 <title>CodeStuff</title>
    </head>
      
  
    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <body>
        
        {{>header}}

        
        
        <div class="main" id="main">
        <div style="background-color: rgb(236, 236, 236)"></div>
        <div class="FormWindow">
            <center>
                <div class="alert alert-danger" style="width:90%;display:none;" id="checkuser">Username/Password
                    Incorrect.</div>
            </center>
            <h1 style="font-size: 42px; font-weight: 250;">Change Password</h1>
            <div>
                <label>Old Password: </label>
                <br>
                <input type="password" name="oldpass" id="oldpass" class="passwordinput" required style="width: 90%">
                <br><br>
                <label>New Password: </label>
                <br>
                <input type="password" name="newpass" id="newpass" class="passwordinput" style="width: 90%" required>
                <br><br>
                <input type="submit" value="Submit" id="submit" class="btn btn-success">
            </div>
        </div>
        <div style="background-color: rgb(236, 236, 236)"></div>
    </div>
        
        
        
        
        
        
        
        

</body>

    
    <script>
        
                       
             
      
                     var    btn=document.createElement("button");
                     btn.setAttribute("id","btn");
                        btn.innerHTML="CodeStuff";
                     document.getElementById("user").appendChild(btn);

 
 
 var submit = document.getElementById("submit");
    submit.onclick = checklogin;
    var request = new XMLHttpRequest();
    function checklogin() {
        var oldpaswd = document.getElementById("oldpass");
        var newpaswd = document.getElementById("newpass");
        var checkuser = document.getElementById("checkuser");
        if (oldpaswd.value == '' || newpaswd.value == '') {
            alert("Invalid Input");
        } else {
            request.open('post', "/changepassword/update");
            request.setRequestHeader("Content-Type", "Application/JSON")
            request.send(JSON.stringify({
                "oldpass": oldpass.value,
                "newpass": newpass.value
            }));
            request.addEventListener('load', function () {
                if (request.status === 200) {
                    //console.log(response);
                    var result = JSON.parse(request.responseText);
                    console.log(result);
                    if (result == "0") {
                        //console.log(checkuser.innerText);
                        checkuser.classList.remove("alert-success");
                        checkuser.classList.add("alert-danger");
                        checkuser.innerText = "Username/Password Incorrect.";
                        checkuser.style.display = "block";
                    }
                    if (result == "1") {
                        checkuser.classList.remove("alert-danger");
                        checkuser.classList.add("alert-success");
                        checkuser.innerText = "Success";
                        checkuser.style.display = "block";
                    }
                }
            });
        }
    }

</script>
    
    
    
    
</html>