<html>

<head>
     <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css"/>
         
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">



<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
     <style>
         img{
             height:100px;
             width:100px;
         }
         .topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
         hr{
             width: 200px;
             border-style: strong;
         }

         
         .name{
             background-color: gainsboro; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
             
             
         }
         
         
         
         #cimage{
             height:60px;
         }
         #search{
             height:40px;
             width:50px
         }
          #comm{
             height:40px;
             width:50px
         }
         #h{
             background-color: aqua;
             height:50px;
                 width:100%;
         }
         .req{
              background-color: blue;
             color:white;
         }
         .join{
             float:right;
             background-color: blue;
             color:white;
            
         }
          .ask to join{
             float:right;
             background-color: blue;
              color:white;
            
         }
          #settings{
             float:right;
              
              background-color: greenyellow;
              height:30px;
              width:70px;
              color:black;
    
         }
        

#head
{
    font-weight: bold;
    background-color: darkblue;
    color: white;
    box-shadow: 0 0 10px;
    width:100%;
     justify-content: center;
    align-items: center;
}
           .main
           {
               width:80%;
               border-color: black;
               height:20px;
                height: 85vh;
               box-shadow: 0 0 15px;
               justify-content: center;
               align-content: center;
                   align-items: center;
    display: flex;
margin-top: 15px;
}
        .textbox
           {
              margin :10px;  
           }
           .head
           {
               background-color: lightgray;
               width:100%;
               text-align: center;
               height:30px;
               font-size: 25px;
               width:500px;
           }
           .content
           {
               background-color: white;
               width:100%;
               text-align: center;
               height:30px;
               font-size: 25px;
               width:500px;
           }
           #boxes
           {
               width:1000px;
           }
           #image
           {
               width:30px;
               height:30px;
           }
           img
           {
               border-color: black;
           }
          #btn
           {
               background-color: darkblue;
               color:white;
               border-color: darkblue;
           }
           .button
           {
               background-color: darkblue;
               color:white;
               border-color: darkblue;
               width:100px;
           }

        </style>
        <title>CodeStuff</title>
    </head>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    

    <body>
    
     <%if ( user.User==0 )
		{%><%include partial/header %> <%
	}
	
	else{%><%include partial/userheader %><%
	}%>
       
    
    <div id="h" class="topnav">
        
        
        <button id="comm" onclick="comm()"><i class="fas fa-users"></i>
</button>
        <button id="search" onclick="search()"><i class="fas fa-search"></i>
</button>
        
   
    
               
      
<!--         <input style="width:200px" id="searchbox" class="form-control searchcommunity" type="text" placeholder="Search Community...">-->
        
        </div>
    

        <div >

            
              <button id="create1" onclick="abc()" style="float:right">Create</button>
           
        
        </div>
    
        <div id="mydiv">
        
        <table id="myc" cellspacing="20px" width="500px">
            
            
            <tbody id="tbody1">
            
            
            </tbody>
            
            
            </table>
        
        
        
        
        
        
        </div>
    
    
    
    </body>

<script>
 
 
    
    
        
       var Email;
    var curruser;
    var exhttp=new XMLHttpRequest();
    
    function    sendreq(){
        exhttp.open("GET",'/currentSession');
        exhttp.send();
         exhttp.onreadystatechange=function()
            {
                 if (this.readyState == 4 && this.status == 200) {
                     curruser=JSON.parse(this.responseText);
                     
                     Email=curruser.Email;
                     
                 }
             
         }
         
    }
                     
 
 function abc(){
    
        console.log('click');
      
        
         window.location.href=('/createcommunity');             
                                         
   
    }
    
  function search(){
 
      window.location.href=('/searchcomm');
      
      
  }
    
    
    
    
  function comm(){
      
      
      
           window.location.href=('/mycommunities');
    
         
    }
         
               
             
      
                     var    btn=document.createElement("button");
                     btn.setAttribute("id","btn");
                        btn.innerHTML="CodeStuff";
                     document.getElementById("user").appendChild(btn);
    
    
    
    </script>

</html>