<! DOCTYPE html>
<html>

<head>
     <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css"/>
         
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
     <style>
         
        #imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
    }
         
   
         #h{
             background-color:aqua;
             height:70px;
                 width:100%;
         }
         
         
         
         img{
             
             width:300px;
             height:100px;
             padding-left: 100px;
             padding-top: 30px
             
             
             
         }
         
         
        #name{
             
padding-left: 450px;
             
         }
         
        
         
        

#head
{
    font-weight: bold;
    background-color: darkblue;
    color: white;
    box-shadow: 0 0 10px;
    width:100%;
     justify-content: center;
    align-items: center;
}
           .main
           {
               width:80%;
               border-color: black;
               height:20px;
                height: 85vh;
               box-shadow: 0 0 15px;
               justify-content: center;
               align-content: center;
                   align-items: center;
    display: flex;
margin-top: 15px;
}
   .boxed {
  border: 1px solid black;
       margin-top:150px;
       height:600px;
       margin-left:100px;
       margin-right:100px;
         justify-content: space-between;
  flex-direction: column;
 // height: 100vh;
  display: flex;
}
       
         #in{
             
             height:200px;
             width:400px;
         }
         
         #cnaam{
                    
          margin-left:50px;
              width:90%;
             
         }
         h3{
               margin-left:50px;
         }
         
         #rule{
             
              margin-left:50px; 
             width:90%
         }
         #cdesc{
              margin-left:50px; 
             width:90%;
             height:100px;
         }
            #update {
  justify-content: flex-end;
  display: flex;
}

        </style>
        <title>CodeStuff</title>
    </head>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    

    <body>
       
 {{>userheader}}
    
    <div id="h">
        
        
     <img id="img1">

        </div>
        
 <div class="boxed">

  
     
     
     
     <form method="POST" enctype="multipart/form-data" id="frm">
      <div class="file-field input-field">
        <div class="btn grey">
          <span>Image</span>
          <input name="myImage" type="file" >
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button type="submit" class="btn">Upload Photo</button>
    </form>
            

<img  height="100px" width="100px" id="img">
            
     
     
     <h3>Community Name:</h3>
     <input id="cnaam" type="text">
     
     <h3>Community Rule:</h3>
     <select id="rule">
     <option>Direct</option>
         <option>Permission</option>
   
     </select>
     
     <h3>Community Description:</h3>
     <input id="cdesc" type="text">
     
     <button id="update" style="float:right">UPDATE</button>
     
</div>
        
     
          
    
    </body>

<script>
   
            
 var name1=document.createElement("h1");
    name1.setAttribute("id","name");
    name1.innerHTML=name;
    
    document.getElementById("h").appendChild(name1);
    
         
    var hr1= document.createElement("hr"); 
    
    
     document.getElementById("h").appendChild(hr1);
                   
             
      
                     var    btn=document.createElement("button");
                     btn.setAttribute("id","btn");
                        btn.innerHTML="CodeStuff";
                     document.getElementById("user").appendChild(btn);
    
  var name=localStorage.getItem("data");
    
    
    
               
                       document.getElementById("frm").setAttribute("action",`/cuploadphoto/${name}`)
    
   // console.log(name);
    
   
    
  
    
    
  var comm;
     var xhttp=new XMLHttpRequest();
    
    var obj=new Object();
    obj.Name=name;
        var obj2=new Object();
            
        xhttp.open("POST",'/myrequests');
             xhttp.setRequestHeader("content-type","application/json;charset=UTF-8");
        xhttp.send(JSON.stringify(obj));
         xhttp.onreadystatechange=function()
            {
         
                 if (this.readyState == 4 && this.status == 200) {
                     comm=JSON.parse(this.responseText);
                 
                      //document.getElementById("cdesc").setAttribute("placeholder",comm.cDesc);
                       document.getElementById("cdesc").setAttribute("value",comm.cDesc);
                     
          
 
document.getElementById("cnaam").setAttribute("value",comm.cName);
                      // document.getElementById("cnaam").innerHTML=comm.cName;  
    

    
    obj2.id=comm._id;
                 
         
   

     document.getElementById("update").onclick=function(){
                           
    obj2.name=document.getElementById("cnaam").value;
 obj2.rule=document.getElementById("rule").value;
  obj2.desc=document.getElementById("cdesc").value;
         console.log(obj2);
     xhttp.open("POST",'/updatecomm');
             xhttp.setRequestHeader("content-type","application/json;charset=UTF-8");
        xhttp.send(JSON.stringify(obj2));
         xhttp.onreadystatechange=function()
            {
         
                 if (this.readyState == 4 && this.status == 200) {
                    if (this.responseText=="updated");
                     alert("updated");
                  window.location.href="/csettings";
                 }
         }
                 }
         
    
    
                 }}
         
         
         
                  
   var mxhttp=new XMLHttpRequest();
         var curusser;
    
    var obj=new Object();
    obj.name=name;
        
        
                   
             mxhttp.open("POST",'/cphotos');
     mxhttp.setRequestHeader("content-type","application/json;charset=UTF-8");
        mxhttp.send(JSON.stringify(obj));
         mxhttp.onreadystatechange=function()
            {console.log("open");
           
                 if (this.readyState == 4 && this.status == 200) {
                      // console.log("req for photo");
                     curusser=((this).responseText);
                     curusser=curusser.slice(7,curusser.length);
                    console.log(curusser);
                     if(curusser)
        { var img=document.getElementById("img").setAttribute("src","../"+curusser);
          var img=document.getElementById("img1").setAttribute("src","../"+curusser);
        }
                     
                          
             else{
                var img=document.getElementById("img").setAttribute("src","../community.jpg");
                      var img=document.getElementById("img1").setAttribute("src","../community.jpg");
             }
                 }
        
         }
          
    </script>
</html>